@import url('');

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}


/* HEADER */

header {
    background-color: rgb(238, 233, 233);
    display: flex;
    justify-content: space-between; /* Alinea los elementos horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
}

header .logo {
    height: 30px;
    padding: 30px;
}

header nav {
    flex-grow: 1;
}

header nav ul {
    list-style-type: none; /* Arreglado */
    margin:0 ; /* Arreglado */
   
}

header nav ul li {
    margin-right: 20px;
    display: inline; /* Cambiado de flex a inline */
}

header nav ul li a {
    font-family: Arial, Helvetica, sans-serif;
    color: #383838;
    padding: 5px;
    text-transform: uppercase;
}

header nav ul li a:hover {
    border-bottom: 2px solid #646464;
}

header nav ul li a.active {
    border-bottom: 2px solid #333333;
}

header .profile a {
    color: #333333;
    padding: 10px 30px;
    display: block;
}

header .profile svg {
    width: 30px;
}


/* MAIN */

main section {
    display: flex;
    min-height: 300px;
}

section.dark {
    background-color: rgb(44, 43, 43);
    color: rgb(184, 184, 184);
}

section.fullwidth {
    justify-content:center;
    display: flex;
    align-items: flex-end; /* Alinea los elementos al fondo */
}

section.fullwidth h2 {
    text-align: center; /* Alinea el texto al centro */
}

section.main-image>div {
    flex: 1;
}

.center-both {
    display: flex; /* Establece el contenedor como flexible */
    justify-content: center; /* Alinea horizontalmente al centro */
    align-items: center; /* Alinea verticalmente al centro */
}

.img-background {
    background: url('img/utn-alumnos.jpg') center/cover; /* Agregado un ejemplo de fondo */
}

.img-background h1 {
    color: #ffffff;
}

.img-content p {
    font-size: 18px;
    padding: 45px;
    
}

.careers-container {
    width: 80%;
    padding: 30px 0px;
    
}

.careers {
    display: flex;
    justify-content: 10px; /* Espacio entre los elementos */
}

.careers .career {
    flex: 1;
    padding: 20px;

}

.careers .career:hover {
    background-color: lightgray;
    color: grey;
}


/* FOOTER */

footer {
    display: grid;
    grid-template-columns: repeat(4, 25%); /* Crea 3 columnas iguales */
    background-color: #ffffff; /* Añadido un color de fondo */
}

footer>div {
    padding: 30px;
}
